<div class="background">
    <div id="particles-js"></div>
    <div class="navbar">
        <div class="logo">Expense Tracker</div>
        <ul class="nav-items">
            <li><a routerLink="/welcome">Home</a></li>
        </ul>
    </div>

    <div class="contact-container">
        <div class="contact-card">
            <h2 style="font-size: 27px;color: #ffb400;">Forgot Password</h2>
            <p style="padding: 13px;font-size: 17px;">Please enter your registered email address to receive an OTP for password reset</p>
            <input type="email" [(ngModel)]="email" placeholder=" yourname@example.com" required />
            <div *ngIf="emailError && !email " class="error-message">{{ emailError }}</div>
            <button (click)="sendOtp()">Send OTP</button>
            <p class="back-to-login">
                <a routerLink="/login">Back to Login</a>
            </p>
        </div>
    </div>
</div>