<div class="background">
    <div id="particles-js"></div>
    <!-- Navbar -->
    <div class="navbar">
        <div class="logo">Expense Tracker</div>
        <ul class="nav-items">
            <!-- <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/register">Register</a></li> -->
            <li><a routerLink="/welcome">Home</a></li>
        </ul>
    </div>

    <!-- Reset Password Card -->
    <div class="contact-container">
        <div class="contact-card">
            <h1 style=" font-size: 1.9rem;color: #ffb400;text-align: center;padding: 10px;">Reset Password</h1>

            <!-- New Password Field -->
            <div class="form-group">
                <label for="newPassword">New Password <span class="required-star" style="color: red;">*</span></label>
                <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required
                    minlength="6" #passwordInput />
                <span class="input-group-text" (click)="togglePasswordVisibility()"
                    style="cursor: pointer;height: 40px;margin-top: -41px; margin-left: 334px;box-sizing: border-box;background: white;padding: 9px;">
                    <i class="fa" [ngClass]="isPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"></i>
                </span>
                <div *ngIf="validateNewPassword && !newPassword" class="text-danger">{{newPasswordErrorMessage}}</div>
            </div>

            <!-- Confirm Password Field -->
            <div class="form-group">
                <label for="confirmPassword">Confirm Password <span class="required-star"
                        style="color: red;">*</span></label>
                <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword"
                    required minlength="6" (input)="onInputChange()" #confirmPasswordInput />
                <span class="input-group-text" (click)="toggleConfirmPasswordVisibility()"
                    style="cursor: pointer;height: 40px;margin-top: -41px; margin-left: 334px;box-sizing: border-box;background: white;padding: 9px;">
                    <i class="fa" [ngClass]="isConfirmPasswordVisible ?   'fa-eye-slash' : 'fa-eye'"></i>
                </span>
                <div *ngIf="validateConfirmPassword && !confirmPassword" class="text-danger">
                    {{confirmPasswordErrorMessage}}</div>
                <div *ngIf="passwordMismatch " class="text-danger">{{confirmPasswordErrorMessage}}</div>
            </div>

            <button class="submit-button" (click)="resetPassword()">Reset Password</button>
            <div class="back-to-login">
                <p>
                    <a routerLink="/login" class="login-link">Back to Login</a>
                </p>
            </div>
        </div>
    </div>
</div>